.container {
    background-color: #fff;
    padding: 16px;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: box-shadow 0.3s;
    margin-bottom: 16px;
}

.container:hover {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.12), 0 4px 6px rgba(0, 0, 0, 0.24);
}

.folder {
    padding: 8px;
    cursor: pointer;
}

.folderLink {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    font-weight: 500;
}